html, body, h1, h2, h3, a,
ul, li, main, button, section, div, p {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-family: 'Proza Libre', sans-serif;
  color: #333;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
}

ul {
  list-style: none;
}

.group:after {
  content: "";
  display: block;
  clear: both;
}

.list, .form {
  display: block;
  padding-top: 3vw;
}

.list {
  width: 25vw;
  display: block;
  float: left;
  border-right: .1vw solid #333;
  height: 100vh;
  overflow-y: scroll;
  box-shadow: 0 .2vw .4vw 0 #888;
}

.form {
  width: 60vw;
  display: block;
  float: left;
}

.bookmark {
  display: block;
  width: 20vw;
  padding-bottom: 2vh;
  margin: auto;
  border-bottom: .25vh solid #999;
}

.starred > h2, .starred > h2 > a {
  color: #157EFB;
}

.message {
  margin-left: 1vw;
  font-weight: bold;
  font-size: 1.25vw;
}

.success {
  color: green;
}

.error {
  color: red;
}


h1 {
  text-align: center;
  font-size: 2.5vw;
  margin-bottom: 2vh;
  color: #193C5E;
}

h2 {
  font-size: 1.75vw;
}

a {
  font-size: 1vw;
}

a:hover {
  color: #193C5E;
}

.info {
  display: block;
  padding: 1vw 1.25vw;
}


.field {
  display: block;
  width: 48vw;
  padding: 1vw 1.5vw;
  margin: auto;
}

button {
  float: right;
  cursor: pointer;
  border: .1vw solid #999;
  padding: .75vh 3.25vh;
  margin-left: .6vw;
  font-size: 1.25vw;
  transition: color 1s, box-shadow 1s;
}

button:hover {
  color: #999;
  box-shadow: .25vw .25vw .25vw #999;
}

.form button {
  font-size: 1.5vw;
  margin-right: 4vw;
  background: #333;
  transition: background 1s;
  color: white;
}

.form button:hover {
  background: black;
}

h3 {
  margin: auto;
  display: block;
}

input {
  display: block;
  width: 36vw;
  padding: .75vw;
  font-size: 1.25vw;
  margin: 1vw auto;
  cursor: text;
  border-color: #ccc;
  outline: none;
}
